<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <i class="glyphicon glyphicon-home"></i>
            </a>
            <!--<span class="navbar-brand"></span>-->
        </div>
        <ul class="nav navbar-nav">
            <li><a routerLink="/" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Mon Frigo</a></li>
            <li><a routerLink="/recipes" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Mes Recettes</a></li>
            <li><a routerLink="/shopping-list" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Ma Liste de Courses</a></li>
            <li><a routerLink="/planning" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Mon Planning</a></li>
        </ul>
    </div>
</nav>