<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <i class="glyphicon glyphicon-home"></i>
            </a>
            <!--<span class="navbar-brand"></span>-->
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a routerLink="/" routerLinkActive="active">Mon Frigo</a></li>
           <li class="active"><a routerLink="/recipes" routerLinkActive="active">Mes Recettes</a></li>
            <li class="active"><a routerLink="/shopping-list" routerLinkActive="active">Ma Liste de Courses</a></li>
            <li class="active"><a routerLink="/planning" routerLinkActive="active">Mon Planning</a></li>
        </ul>
    </div>
</nav>