.imgSize {
    width: 350px;
    height: 250px;
}
.cardHeader{
    display: inline-flex;
    margin: 5px;
    font-weight: bold;
}
.cardActions{
    float: right;
    margin-left: 10px;
}
.cardActions :hover{
    cursor: pointer;
}

.action:hover{
    font-style: italic !important;
    cursor: pointer !important;
}

.recipeDescription {
    height: 150px;
}

.red { 
    color: red;
}