<h3>Mon Frigo</h3>
<button class="btn btn-primary" (click)='prepareForAddIngredient()'>Ajouter un ingredient</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Ingredients</th>
      <th>Quantité</th>
      <th>Unité</th>
      <th>Date de peremption</th>
      <th>Editer</th>
      <th>Supprimer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ingredient of ingredientList">
      <td [ngClass]="{'red': comparePeremptionDate(ingredient.peremptionDate)}">{{ingredient.name}}</td>
      <td [ngClass]="{'red': comparePeremptionDate(ingredient.peremptionDate)}">{{ingredient.quantity}}</td>
      <td [ngClass]="{'red': comparePeremptionDate(ingredient.peremptionDate)}">{{ingredient.unity | uppercase}}</td>
      <td [ngClass]="{'red': comparePeremptionDate(ingredient.peremptionDate)}"><i *ngIf="comparePeremptionDate(ingredient.peremptionDate)" class="glyphicon glyphicon-warning-sign"></i>{{ingredient.peremptionDate | date: 'dd/MM/yyyy'}}<i *ngIf="comparePeremptionDate(ingredient.peremptionDate)" class="glyphicon glyphicon-warning-sign"></i></td>
      <td><i class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#editOrAddModal" (click)='prepareForEditIngredient(ingredient)'></i></td>
      <td><i class="glyphicon glyphicon-trash" (click)='removeIngredient(ingredient)'></i></td>
    </tr>
  </tbody>
</table>

<!-- Modal Edit -->
  <!-- Modal -->
  <div class="modal fade" bsModal #editOrAddModal="bs-modal" id="editOrAddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editOrAddModalLabel">Edition d'un ingredient</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="editOrAddModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="ingredientToEdit">
          <form>
            <div class="form-group">
              <label for="ingredientName">Nom :</label>
              <input class="form-control" id="ingredientName" [(ngModel)]="ingredientToEdit.name" name="name">
            </div>
            <div class="form-group">
                <label for="quantity">Quantité</label>
                <input class="form-control" id="quantity" [(ngModel)]="ingredientToEdit.quantity" name="quantity">
            </div>
            <div class="form-group">
                <label for="unity">Unité</label>
                <input class="form-control" id="unity" [(ngModel)]="ingredientToEdit.unity" name="unity">
            </div> 
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="editOrAddModal.hide()">Annuler</button>
          <button *ngIf="editionMode" type="button" class="btn btn-primary" (click)="editIngredient(ingredientToEdit)">Enregistrer</button>
          <button *ngIf="creationMode" type="button" class="btn btn-primary" (click)="addIngredient(ingredientToEdit)">Ajouter</button>
        </div>
      </div>
    </div>
  </div>